/* VARIÁVEIS */
:root{
    --cor-principal: #d6185a;
    --cor-hover: #F590C9;
    --cor-voltar:#F8B7E1;
    --cor-fundo: #E63986; 
    --cor-texto:#11151C;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GERAL */
header {
    backgorund-color: var(--cor-principal);
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}